#forum.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "forum.png",class:"product-img"
    .product-detail-right
      .product-detail-right__title
        %h3
          「地域医療フォーラム」告知チラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          地域医療フォーラムの告知チラシです。コンセプトは「堅実なコメディカルの明るい未来」です。明るい未来を表現するのに青空の写真を、堅実を表現する為にタイトルに明朝体を使用しました。
      
    .product-detail-close-btn
      ☓
