#fukusiyougu.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "fukusiyougu.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          「福祉用具貸与・販売事業」告知チラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          福祉用具貸与・販売事業所より開業チラシの依頼を受けました。名前の通り、「すこやか」な感じにしてほしいとの事と、このチラシを見たケアマネジャーさんが何を取り扱っているか、ひと目でわかるようにしてほしいとの事でしたので、緑を基調とし、裏面にはひと目でわかるようにメインで取り扱っている福祉用具の写真を配置しました。
      
    .product-detail-close-btn
      ☓
