#fukusiyougu-sien.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "kaientai001.png"
      .product-detail-left__sub-img
        .product-detail-left__sub-img-img01
          = image_tag "kaientai002.png"
        .product-detail-left__sub-img-img02
          = image_tag "kaientai003.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          「福祉用具貸与・販売事業支援」パンフレット
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          介護事務所より、福祉用具貸与販売事業の開業支援を行う為のパンフレットの作成依頼を受けました。コンセプトは「福祉用具貸与販売事業を知らない事業所に明るい未来を提示する」です。「明るい未来」を表現する為に、表紙には青空にヘルパーと介護者が笑顔で写っている写真を使用し、中の記述も福祉用具貸与販売事業を初めて知る人の為に、わかりやすい言葉を選びました。
      
    .product-detail-close-btn
      ☓
