#houmonkaigo.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "carelinkkyujin.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          「訪問介護」求人チラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          訪問介護事務所より、訪問介護のオープニングスタッフの求人のチラシを依頼されました。コンセプトは「利用者に沿ったケアを提供する為の人材募集」です。メインカラーに緑、サブカラーにピンクを使用、また写真にはケアをしている利用者とヘルパーの写真を使用する事で、利用者に寄り添っている所を表現致しました。
      
    .product-detail-close-btn
      ☓
