#kaigoyobou.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "kaigoyoboutaisou.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          「介護予防体操教室」パンフレット
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          地域の方に向けた介護予防教室の告知パンフレットです。コンセプトは「楽しい老後」です。表紙にご夫婦が笑顔の写真を起用し、オレンジを基調としたカラーを使用しました。また、丸ゴを使用して楽しい雰囲気を表現致しました。
      
    .product-detail-close-btn
      ☓
