#kasumizaka.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "kasumizaka001.png"
      .product-detail-left__sub-img
        .product-detail-left__sub-img-img01
          = image_tag "kasumizaka002.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          「鍼灸整骨院」三つ折りチラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          地域の方に向けた鍼灸整骨院の三つ折りのチラシです。コンセプトは「全面的なケア・サポートです」治療メニューだけでなく、全面的にケアをする事が出来る事をアピール出来るようにしました。
      
    .product-detail-close-btn
      ☓
