#reaura.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "reaura.png",class:"product-img"
    .product-detail-right
      .product-detail-right__title
        %h3
          「リユースショップ」告知チラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          リユースショップより、告知チラシの依頼を受けました。コンセプトは「想いを渡す」です。今まで使っていた物が新たに使ってくれる人に想いを渡す為に手の写真を起用し、千差万別ある想いを七色で表現致しました。
      
    .product-detail-close-btn
      ☓