#saitoujuku.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "saitoujuku.png",class:"product-img"
    .product-detail-right
      .product-detail-right__title
        %h3
          「個人塾」告知チラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          個人塾より告知チラシです。コンセプトは「堅実」です。個人塾なので信頼感を出す為に、授業風景の写真と特徴を載せました。
      
    .product-detail-close-btn
      ☓