#sukoyaka.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "sukoyaka001.png"
      .product-detail-left__sub-img
        .product-detail-left__sub-img-img01
          = image_tag "sukoyaka002.png"
        .product-detail-left__sub-img-img02
          = image_tag "sukoyaka003.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          NPO法人すこやか地域支援協会Webサイト
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          html/CSS/jQuery/Nginx/AWS
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          NPO法人すこやか地域支援協会理事からの依頼で制作したWebサイトです。コンセプトは「地域に即した活動をしている協会」です。TOP画面に写真を大きく持ってくる事で、どういった活動をしているのか地域の方に端的にわかるようにしました。また、身体について悩んでいる方の為に。当協会に所属している治療院の情報も載せました。このサイト制作を通して、Webサーバについて学びました。      
      .product-detail-right__title-wrap
        %span
          リンク
      .product-detail-right__title-wrap-text
        %span.link-btn
          = link_to "NPO法人すこやか地域支援協会"
      
    .product-detail-close-btn
      ☓
