#traner.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "sports.jpg",class:"product-img"
    .product-detail-right
      .product-detail-right__title
        %h3
          「医療トレーナーセミナー」告知チラシ
      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          Photoshop/Illustrator
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          プロの医療トレーナーを目指す為のセミナーの告知チラシです。ひと目見てスポーツに関係するチラシだとわかってもらう為に、メジャースポーツの写真とケアをしている写真を起用しました。
      
    .product-detail-close-btn
      ☓