.about-contents-left
  = image_tag "about.png",class:"about-contents-left__about-img"
.about-contents-right
  .about-contents-right__cont
  %h1.about-contents-right__cont__name
    NAME:指尾　慶（Sasuo Suguru）
  %span.about-contents-right__cont__text-wrap
    1982年大阪府枚方市生まれ。
    %br
    大阪デザイナー専門学校卒業後、広告チラシや看板等、主に印刷物のデザインに携わってきました。その後、訳あって、柔道整復師として患者様の治療を行いながら、会社の広報担当として、名刺、DM、チラシ、パンフレット等、また自社サーバーの構築からホームページの制作まで携わらせて頂きました。その時に感じた達成感と、昔からコンピュータがどういう風に動いているのか興味があった事から、在職中にTech-expert（オンラインコース）で改めてプログラミングを学び、卒業しました。紙媒体・Webの両方に対して対応致します。