.about-contents-left
  = image_tag "about.png",class:"about-contents-left__about-img"
.about-contents-right
  .about-contents-right__cont
  %h1.about-contents-right__cont__name
    NAME:指尾　慶（Sasuo Suguru）
  %span.about-contents-right__cont__text-wrap
    samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
