#sukoyaka.product-detail
  .product-detail-left
    .product-detail-left__img
      = image_tag "sukoyaka001.png"
    .product-detail-left__sub-img
      .product-detail-left__sub-img-img01
        = image_tag "sukoyaka002.png"
      .product-detail-left__sub-img-img02
        = image_tag "sukoyaka003.png"
  .product-detail-right
    .product-detail-right__title
      %h1
        NPO法人すこやか地域支援協会Webサイト
    .product-detail-right__title-wrap
      %span
        使用技術
    .product-detail-right__title-wrap-text
      %span
        html/CSS/jQuery/Nginx/VPS
    .product-detail-right__title-wrap
      %span
        概要
    .product-detail-right__discription-text
      %span
        samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
    .product-detail-right__title-wrap
      %span
        リンク
    .product-detail-right__title-wrap-text
      %span
        = link_to "NPO法人すこやか地域支援協会"
    
  .product-detail-close-btn
    ☓
