.about-contents{
  display: flex;
  width: 100vw;
  height: 100vh;

  &-left{
    width: 50%;
    background:image-url('about.png') no-repeat;
    background-size: cover;  
  }

  &-right{
    width: 50%;
    letter-spacing: 2px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__cont{

      &__name{
        width: 75%;
        font-size: 20px;
        padding-bottom: 40px;
        word-break: break-word;

      }
  
      &__text-wrap{
        display: block;
        width: 75%;
        height: auto;
        word-break: break-word;
      }
    }
  }
}