.about-contents{
  display: flex;
  width: 100vw;
  height: 100vh;

  &-left{
    position: relative;
    width: 50%;
    overflow: hidden;
    
    &-img{
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: inherit;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

  }

  &-right{
    width: 50%;
    letter-spacing: 2px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__cont{

      &__name{
        width: 75%;
        font-size: 2rem;
        padding-bottom: 40px;
        word-break: break-word;
      }
  
      &__text-wrap{
        display: block;
        width: 75%;
        height: auto;
        word-break: break-word;
      }
    }
  }
  &-wrap{
    display: none;
  }
}

@media screen and (max-width:770px){

  .about-contents{
    display: flex;
    width: 100vw;
    height: 100vh;
  
    &-left{
      display: block;
      position: relative;
      width: 50%;
      overflow: hidden;
      
      &-img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        max-width: inherit;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
  
    }
  
    &-right{
      width: 50%;
      letter-spacing: 2px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      &__cont{
  
        &__name{
          width: 90%;
          font-size: 1.6rem;
          padding-bottom: 40px;
          word-break: break-word;
        }
    
        &__text-wrap{
          display: block;
          width: 90%;
          height: auto;
          word-break: break-word;
        }
      }
    }
    &-wrap{
      display: none;
    }
  }
}

@media screen and (max-width:480px){

  .about-contents{
    display: block;
    width: 100vw;
    height: auto;

    &-wrap{
      display: block;

      &-img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        max-width: inherit;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    
      &-cover{
        display: block;
        position: absolute;
        width: auto;
        height: auto;
        background:#fff;
        opacity: 0.8;
        min-width: 90%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        padding:5%;

        h1{
          font-size:1.6rem;
          padding-bottom: 5%;
        }

        span{
          font-size: 1.2rem;
        }
      }
    }

    &-left{
      display: none;
    }
  
    &-right{
      display: none;
    }
  } 
}